@charset "UTF-8";

body{
	background-color: #eee !important;
}
.dropdown-toggle{
	display: flex;
	align-items: center;
	gap: 10px;
	margin-right: 10px;
	cursor: pointer;
	
}
#list{
	/*background-color:#eee;*/
	padding:30px;
}
#content{
	margin-top:20px;
	border-radius:15px;
	width:800px;
	background:#fff;
	margin:20px auto;
	padding:10px;
	
}
#name{
	background-color:red;
}
#message{
	background-color:rgb(0, 0, 0);
}
.flex{
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-top: 27px;
	overflow-y: scroll;
	height: 400px;
}
.message_container{
	display:flex;
	align-items: center;
	gap: 10px;
	margin:10px;


}
.message__txt{
  width: 400px;
	background-color: #0d6efd;
	padding: 20px;
	border-radius: 30px;
     color:#fff;
	 position: relative;
	 overflow-wrap:anywhere;
	
}
.message__txt::before{
	content: '';
	height: 10px;
	width: 10px;
	
	
}
.message__img::after{
	content: 'dfwwedefrdsfsdf';
	background-color:red;
	color:black;
	height: 10px;
	width: 10px;
	margin-left: -10px;
	position: relative;

}
.message__img{
		height: 50px;
		width: 50px;
		cursor: pointer;
		margin-top: 9.5px;
		border-radius: 50%;
}
.self{
    
	flex-direction: row-reverse;
}
.self__txt{
	background-color: #eee;
	color: black;
}
.textarea__container{
	display: flex; 

}
textarea {
  resize: none !important;
  
background-color: #eee !important;
outline: none;
border: none;
width:700px;
  padding:10px;
 
  border-radius: 15px;

}
.send{
	padding: 10px 25px;
	margin: 10px;
	color: #fff;
	font-weight: bolder;
	background-color:#0d6efd;
	align-self: center;
	border: none;
	border-radius: 20px;
}
/*name, date__time span*/
.date_time{
	
	padding-top:15px;
	position: absolute;
	top: 34px;
right: 16px;
display: flex;
flex-direction: column;
justify-content: flex-end;

aligin-items:flex-end;
font-weight: bolder;
}
.date__span{
	font-size: 10px;


}
