@charset "UTF-8";
body{
    background-image:linear-gradient(rgba(0,0,205,.2), rgba(0,0,205,.2)), url("../asset/login.jpg");
    background-size: cover;

}
.heading{
    text-align: center;
    color: #EAFFDEFF
}
.login__container{
    margin: 20vh auto;
}
.form__group{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;

gap: 20px;
}
.form__input{
    border: none;
    padding: 15px 38px;
outline: none;
border-radius: 5px;
border-bottom: 4px solid green;
}
input:invalid{
    border-bottom: 4px solid red;
}
.btn{
    padding: 10px 28px;
    cursor: pointer;
    background-color:#0d6efd;
    border: none;
    border-radius: 5px;
    color: #fff;
    
}
.link{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}